.main-body{
    height: 100vh;
    width: 100vw;
    background-color:black;
    border-radius: 40px;
    display: flex;
    -webkit-box-shadow: inset 0 0 30px #d95132;
    -moz-box-shadow: inset 0 0 30px #d95132;
    box-shadow: inset 0 0 30px #d95132;

}